
/*VARIABLES GLOBALES/*
$color-principal: rgb(47, 191, 223);
$color-fondo: #f3f9ff;
$color-banner: #8f1e05;
$box-shadow: 0 1px 1px rgba(117, 117, 117, 0.799);
$fuente-base: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


/*LOGO*/

.Logo {
  img {
    width: 100px; // define el ancho
    height: auto; // mantiene la proporción
  }
}


/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Logo a la izquierda, enlaces a la derecha*/
  align-items: center; /*Centra verticalmente*/
  background-color: $color-fondo !important;
  padding: 10px 20px;
  box-shadow: $box-shadow;

  nav {
    ul {
      li {
        display: inline; /*Alinea el menú*/
        margin-right: 1rem; /*define la separación*/

        a {
          color: $color-principal !important;
          text-decoration: none; /*elimina el subrayado*/
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}


/* SECCIÓN CONTACTO */

.contacto {
  max-width: 600px;
  margin: 4rem;
  padding: 4rem;
  background-color: $color-fondo;
  box-shadow: 0 0 10px;
  border-radius: 2rem;
  align-items: center;
}


/* CONTENEDORES */

.container2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
  margin: 10px;
}


/*TEXTOS Y ENCABEZADOS*/

h1 {
  text-align: center;
  font-family: $fuente-base;
  margin-top: 2rem;
}

.encabezado {
  padding: 2rem;
  margin: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /*sombreado*/
  text-indent: 3rem; /*agrega sangría*/
}

p {
  margin-bottom: 8rem;
}


/*BANNER*/

.Banner {
  display: flex;
  background-image: url('../imagenes/backjpg.jpg');
  width: 100%;
  height: 100px;
  background-size: cover;
  color: $color-banner;
}


/*SECCIONES GENERALES*/

section.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


/* FOOTER */

footer {
  text-align: center;
  font-size: 0.95rem;
}


/* IMÁGENES */

.imagen,
.imagen2 {
  height: auto;
  position: relative;
}

.imagen {
  width: 600px; // define el ancho
}

.imagen2 {
  width: 300px; // define el ancho
}


/*PORTFOLIO*/
.portfolio {
  display: grid; // sistema de cuadrícula
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // columnas adaptables
  padding: 3rem;
  margin-top: 4rem;
  border-radius: 40px;
  text-align: center;
}

